@font-face {
	font-family: 'kalpurush';
	src: URL('../font/kalpurush.ttf');
}
.color-0 {
	background-color: #b9936c;
}
#toc {
	background: #111111;
	overflow: hidden;
	height: 400px;
}
.toc-entry {
	color: #eeeeee;
}
.english {
    font-family: 'Times', sans-serif;
}
.bangla {
    font-family: 'kalpurush', sans-serif!important;
}


#poem-title {
	font-weight: bold;
	font-size: 1.4em;
	white-space: nowrap;
}

#toc {
	position:fixed;
	top:10%;
}
#toc-content {
	list-style-type: disc;
}

.dropcap {
	float:left;
	width:3em;
	vertical-align:text-top;
    font-size: 200%;
    line-height: 80%;
    color:#888888;
}

.tooltip {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	background-color: #b09b71;
}



