@font-face {
    font-family: 'kalpurush';
    src: URL('../font/kalpurush.ttf');
}

:root {
    --left-gap: 2em;
}

.english {}

#poem-title-english {
    font-weight: bold;
    margin-left: var(--left-gap);
}

#poem-english {
    margin-left: var(--left-gap);
}

.bangla {
    font-family: "kalpurush";
}

#poem-title-bangla {
    font-weight: bold;
    margin-left: var(--left-gap);
}

#poem-bangla {
    margin-left: var(--left-gap);
}

.toc-english {
   color: blue;
}
.toc-bangla {
    font-family: "kalpurush";
}

#audio-control {
    width:200px;
    height:24px;
}

/* ------------------- biography page style --------------- */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
.dropcap {
	float:left;
	width:3em;
	vertical-align:text-top;
    font-size: 200%;
    line-height: 80%;
    color:#888888;
}