/* unvisited link */
a:link {
    color: initial;
}

/* visited link */
a:visited {
    color: initial;
}

/* mouse over link */
a:hover {
    color: initial;
}

/* selected link */
a:active {
    color: initial;
}

a{
	text-decoration: none;
}
p{
	margin: 0px;
}
sub{
	vertical-align: -10%;
	font-size: 67%;
}
sup{
	vertical-align: 33%;
	font-size: 67%;
}
.p1{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 2.1%;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 100.0%;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p2{
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 68.8%;
	font-family: "Helvetica Neue";
	color: #000000;
	letter-spacing: 0.000em;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	text-shadow: none;
}
.p3{
	font-size: 100.0%;
	font-family: "Menlo";
	color: #D4D4D4;
}
.c1{
	background: transparent;
}
.c2{
	background: #FFFFFF;
}
.c3{
	background: #1E1E1E;
}
.c4{
	color: #808080;
}
.c5{
	color: #569CD6;
}
.body {
	width: 100%;
}
